@font-face {
  font-family: 'food1';
  src: url('../assets/font/pacifico/Pacifico-Regular.ttf') format('truetype');
}

html {
  font-family: 'food1';
}

body {
  background-color: darkred;
  background-image: url(../assets/img/pngtree-red-chinese-style-pattern-background-image_512886.jpg);
}

#nav {
  display: flex;
  justify-content: center;
  gap: 50px;
}

#menu,
#home,
#about {
  width: auto;
  height: auto;
  font-size: 40px;
  text-align: center;
  background-color: darkgoldenrod;
  border: none;
  border-radius: 5px;
}

#menuContent {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  gap: 40px;
  width: 800px;
  height: 2050px;
  background-color: rgba(184, 134, 11);
  margin: 0px auto;
}

#title {
  width: 700px;
  height: 55px;
  margin: 0px auto;
  position: relative;
  top: 20px;
  font-size: 50px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 55px;
  background-color: darkred;
  color: white;
}

#infor {
  width: 700px;
  height: auto;
  margin: 0px auto;
  padding: 20px;
  font-size: 25px;
  text-align: left;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: darkred;
  color: white;
}

#time {
  width: 400px;
  height: auto;
  margin: 0px auto;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: darkred;
  color: white;
}

#location {
  width: auto;
  height: auto;
  margin: 0px auto;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 20px;
  background-color: darkred;
  color: white;
}

#phobo,
#banhdacua,
#comchay,
#mienluon,
#miquang,
#banhkhot,
#goicuon,
#comtam {
  width: 750px;
  height: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  top: 20px;
  left: 20px;
  color: whitesmoke;

}

#gioithieu1,
#gioithieu2,
#gioithieu3,
#gioithieu4,
#gioithieu5,
#gioithieu6,
#gioithieu7,
#gioithieu8 {
  text-wrap: wrap;
}